* {
  box-sizing: border-box;
  margin: auto;
  padding: 0%;
  font-family: monospace;
  font-weight: bold;
}

body {
  background-color: (--black);
  color: (--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(20, 1fr);
  gap: 1rem;
}

@media (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
}

@media (min-width: 900px) {
  main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
}

@media (min-width: 1200px) {
  main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

Header {
  width: 100%;
}

h1 {
    text-align: center;
    color: white;
    font-size: 8rem;
}

nav{
    font-size: x-large;
}

nav ul {
    display: flex;
    margin-top: 1rem;
    width: 100%;
}

nav ul li {
    display: block;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
}

div {
  border: 2px solid black;
}

form {
  border: 2px solid black;
}

Footer {
  width: 100%;
}