* {
  box-sizing: border-box;
  margin: auto;
  padding: 0%;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}

body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(20, 1fr);
  gap: 1rem;
}

@media (min-width: 600px) {
  body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
}

@media (min-width: 900px) {
  body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
}

@media (min-width: 1200px) {
  body {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

Header {
  background-color: green;
  width: 100%;
}

h1 {
  color: white;
  font-size: 8rem;
}

h2 {
  margin: 5px;
  font-size:50px;
}

nav {
  font-size: x-large;
}

nav ul {
  display: flex;
  margin-top: 1rem;
  width: 100%;
}

nav ul li {
  display: block;
  text-align: center;
  width: 100%;
  justify-content: space-evenly;
}

li{
  font-size:xx-large;
}

label{
  font-size:xx-large;
}

p{
  font-size:xx-large;
}

@media (min-width: 600px) {
  nav ul li {
    display: flex;
    flex-direction: column;
  }
}

div {
  border: 2px solid rgb(0, 58, 0);
  border-collapse: collapse;
  color: white;
}

form {
  border: 2px solid rgb(0, 58, 0);
  color: white;
  margin: 5px;
  border-collapse: collapse;
}

select {
  margin: 5px;
}

section {
  margin: 5px;
  border: 2px solid rgb(0, 58, 0);
  border-collapse: collapse;
}

input {
  margin: 5px;
}

label {
  margin: 5px;
}

button {
  margin: 5px;
}

@media (min-width: 1px) {
  form {
    display: flex;
    flex-direction: column;
  }
}

Footer {
  width: 100%;
  background-color: green;
}
